<div class="pad-top">
  <form class="form-horizontal" id="registration" method='post' action='/register'>
      <div class="col-md-7">

          <div class="r-control-group row">
                
            <div class="controls col-md-6 <%= user_errors_check(@user,:name) %>">
              <% if user_errors_check(@user,:name) == "has-error" %>
                <label class="control-label" for="user_name">
                  <% @user.errors.[](:name).each do |err| %>
                    Name <%= "#{err}" %>.
                  <%end%>
                </label> 
              <% end %>
              <input type="text" class="form-control" placeholder="Username" id="user_name" name="user[name]" >

            </div>
          </div>

          <div class="r-control-group row">

            <div class="controls col-md-6 <%= user_errors_check(@user,:password) %>">
              <% if user_errors_check(@user,:password) == "has-error" %>
                <label class="control-label" for="user_password">
                  <% @user.errors.[](:password).each do |err| %>
                    Password <%= "#{err}" %>.
                  <%end%>
                </label> 
              <% end %>

              <input type="password" class="form-control" placeholder="Password" id="user_password" name="user[password]" >

            </div>

          </div>

          <div class="r-control-group row">
            <div class="controls col-md-6 <%= user_errors_check(@user,:password_confirmation) %>">
              <% if user_errors_check(@user,:password_confirmation) == "has-error" %>
                <label class="control-label" for="user_password_confirmation">
                  <% @user.errors.[](:password_confirmation).each do |err| %>
                    Confirmation <%= "#{err}" %>.
                  <%end%>
                </label> 
              <% end %>

              <input type="password" class="form-control" placeholder="Confirm password" id="user_password_confirmation" name="user[password_confirmation]" >

            </div>
          </div>

          <div class="r-control-group row">
            <div class="controls col-md-6 <%= user_errors_check(@user,:email) %>">
              <% if user_errors_check(@user,:email) == "has-error" %>
                <label class="control-label" for="user_name">
                  <% @user.errors.[](:email).each do |err| %>
                    Email <%= "#{err}" %>.
                  <%end%>
                </label> 
              <% end %>
              
              <input type="text" class="form-control" placeholder="Email" id="user_email" name="user[email]" >

            </div>
          </div>

          <div class="r-control-group row">
            <label class="control-label"></label>
            <div class="controls col-md-6">
              <button type="submit" class="btn btn-info  btn-lg btn-block">Submit</button>
            </div>
          </div>

        </div>
  </form>
</div>