<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p><em>written by <%= @post.user.name %> at <%= @post.created_at %></em></p>
<br/>
<p><h2> Comments </h2></p>
</br>
<div class="container center">
  <% @post.comments.each do |comment| %>
    <div class="row">
      <div class="col-xs-6 col-md-4 ">
        <%= comment.body %> 
        <p><em> by <%= comment.user.name %> at <%= comment.created_at %> </em><p>
        <% if @post.user==session[:user]||comment.user==session[:user] %>
        <div class="delete-comment-button">
          <form action="/posts/<%= @post.id %>/comments/<%= comment.id %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button class="close" type="submit" value="Delete">&times;</button>
          </form>
        </div>
        <% end %>
        </br>
      </div>
    </div>
    <br/>
  <% end %>
  <% if is_user_logged_on? %>
    <form class="input-append" action="/posts/<%= @post.id %>/comments" method="post">
      <div class="row">
        <div class="col-xs-6 col-md-4 ">
          <input type="hidden" id="post_id" name="post_id" value="<%= @post.id %>">
          <textarea autocomplete="off" class="form-control" rows="3" maxlength="65534" id="comment_body" name="comment_body" type="text" placeholder="Add your comment right here"></textarea> 
          </br>
          <button id="b1" class="btn btn-primary btn-sm" type="submit">Add new comment</button>
        </div>	
      </div>
    </form>
  <% end %>
</div